<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Age of Ted</title>
  <meta name="description" content="A village sim that's not about fighting">
  <meta name="author" content="George Nagel">

  <link rel="stylesheet" href="static/css/main.css?v=1.0">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <h1>Age of Ted</h1>
  <script src="static/js/vendor/pixi.min.js"></script>
</body>
</html>